/* Common CSS File */

.lookup-input{
    width: 20rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.blue-btn{
    background-color: #0058ff;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 1rem 4rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 2rem;
}

.lookup-root-container, .feed-root-container{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Overwriting CSS for Bootstrap Accordion */

.accordion-item{
    width: 30rem;
    border: none!important;
}

.accordion-odd-blue button{
    background-color: #0058ff!important;
    color: white!important;
}

.accordion-body{
    border: 2px solid #0058ff!important;
}

.accordion-even-blue button{
    border: 2px solid #0058ff!important;
}

@media screen and (max-width: 580px){
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        margin-right: 2rem;
    }
    
    .nav-tabs .nav-link {
        margin-right: 2rem;
    }

    .App h1{
        font-size: 1.7rem;
        text-align: center;
        width: 80%;
    }

    .accordion-item{
        width: 300px!important;
    }

    tr{
        font-size: 12px;
    }
}

@media screen and (max-width: 450px){
    ul.mb-3r.nav.nav-tabs {
        text-align: center;
        display: flex;
        display: flex;
        flex-direction: column;
        width: 100vw;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .nav-tabs .nav-link {
        margin-right: 2rem;
        margin-top: 10px;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        margin-right: 2rem;
        margin-top: 10px;
    }

    .lookup-input{
        width: 80vw;
        height: 50px;
    }

    .blue-btn{
        width: 80vw;
        padding: 0rem;
        height: 50px;
    }
}